<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/']">Heroes Site</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a [routerLink]="['/heroes']">Heroes</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/dashboard']">Dashboard</a></li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" dropdown>
          <a class="dropdown-toggle"
             role="button" aria-haspopup="true"
             aria-expanded="false">Hero Management <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a (click)="onStore()" style="cursor: pointer;">Store Heroes</a></li>
            <li><a (click)="onFetch()" style="cursor: pointer;">Retrieve Heroes</a></li>

          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
