<a [routerLink]="[heroId]" class="list-group-item clearfix module">
  <div class="pull-left">
    <h4 class="list-group-item-heading" align="left">{{hero.name}}</h4>
    <p class="list-group-item-text">{{hero.description}}</p>
  </div>

</a>
