<div class="row">
  <div class="col-xs-12">
    <div class="btn btn-success button-new" [routerLink]="['new']">New Hero</div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <div class="list-group">
        <app-hero-item *ngFor="let hero of heroes; let i = index" [hero]="hero" [heroId]="i"></app-hero-item>
    </div>
  </div>
</div>
