<div class="row">
  <div class="col-xs-12">
    <h1>{{selectedHero?.name}}</h1>
  </div>
  <div class="col-xs-12">
    <button class="btn btn-primary" (click)="onEdit()">Edit</button>
    <button class="btn btn-danger" (click)="onDelete()">Delete</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <p>{{selectedHero?.description}}</p>

  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>Powers</h3>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let item of selectedHero?.powers">{{item.name}}</li>
    </ul>
  </div>
</div>
