<div class="row">
<div class="grid grid-pad">
    <div *ngFor="let hero of heroes; let i = index" (click)="gotoDetail(i)" class="col-1-4">
      <div class="module hero">
        <h4>{{hero.name}}</h4>
      </div>
    </div>
  <!--<app-hero-item *ngFor="let hero of heroes; let i = index" [hero]="hero" [heroId]="i"></app-hero-item>-->
  </div>
</div>
<div class="row">
  <router-outlet></router-outlet>
</div>
